@use '../base/variables';

.content-box {
  padding: 1em 1em;
  border-radius: 10px;
  background-color: variables.$content-background-color;
}

.app-layout {
  min-width: 600px;
  background-color: variables.$app-background-color;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  .app-container {
    flex-grow: 1;    
  
    .app-content {
      padding: 1em 2em;
      display: flex;
      flex-direction: column;
      row-gap:20px;
    }
  }
}


