@use '../base/variables';

.content-box {
  padding: 1em 1em;
  border-radius: 10px;
  background-color: variables.$content-background-color;
}

.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}