@use '../base/variables';
@use '../framework/layouts';

.database-card {
  @extend .content-box;
  .header {
    display: flex; 
    justify-content: space-between;
  }
}

.modal-container {
  @extend .content-box;
  position: fixed;
  right: 0;
  top: calc(100vh/4);
  height: 400px;
  overflow-y: scroll;
  border: 1px solid rgb(50, 50, 50);
  background-color: white;
  box-shadow: 10px 5px 5px 5px darkgrey;
  z-index: 1000;

}