@use '../base/variables';
@use '../framework/layouts';

// .database-card {
//   @extend .content-box;
//   .header {
//     display: flex; 
//     justify-content: space-between;
//   }
// }

// .query-card {
//   @extend .database-card;
// }


.modal-container {
  @extend .content-box;
  position: fixed;
  right: 30px;
  top: 185px;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid rgb(50, 50, 50);
  background-color: white;
  box-shadow: 5px 2px 2px 2px darkgrey;
  z-index: 1000;

}