html, body {
  height: 100%; 
  width: 100%;
  min-width: 600px;
  overflow-y: hidden; /* Prevents the bounce when scrolling off page. This might cause problems if we have overflow-y: scroll in other elements */
  color: rgb(41, 41, 41);
}

body {
  margin: 0px; 
  
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(246, 248, 251);
}

#app {
  max-width: 1200px;  /*Aesthetically may need to add a max width and center the app horizontally with dark edges */

  height: 100%;
  left: 50%;
}