@use './app.scss';
@use './landing.scss';

$global-background-color: rgb(38, 38, 38);
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/*
Nested rules are super helpful, but they can also make it hard to visualize how much CSS you’re actually generating. The deeper you nest, the more bandwidth it takes to serve your CSS and the more work it takes the browser to render it. Keep those selectors shallow!
*/