@use '../base/mixins';
@use '../base/variables';
@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap';

.vertical-navbar {
  background-color: rgb(28, 101, 140) ;
  display: flex; 
  height: 100vh;
  width: 300px;
  max-width: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // overflow-y: scroll;
  color: rgb(240, 242, 243);

  .header {
    font-family: 'Work Sans', sans-serif;
    font-size: 4em; 
    font-weight: 600;
  }

  .app-links-group {
    font-size: 18pt;
    list-style-type: none;
    .space{
      padding:20px;
    }
  }
  .user-links-group {
    font-size: 16pt;
    padding: 100px;
    list-style-type: none;
  }
  li {
    text-decoration: none;
  }
  .space{
    padding:20px;
  }
}

.app-dropdown {
  width: 200px;
  height: 30px;
}



.dashboard-container {  
  height: 100vh;
  @include mixins.flexCenter(column);

  .dashboard-content {
    @include mixins.flexCenter(column);
    width: 200px;
    height: 200px;
  }
}


.database-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px; 

  .database-card {
    display: flex; 
    flex-direction: column; 
    border: 1.5px solid black;
    row-gap: 10px;
    margin-bottom: 1em;
    padding: 1em 2em;
    border-radius: 10px;
    
    background-color: rgb(250, 250, 250);
  }

  .info-group {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info-group-item {
    display: flex; 
    flex-direction: column; 
  }

  .button-group {
    display: flex;
    justify-content: space-between
  }
}

.link-no-decoration {
  text-decoration: none;
}


.query-box {
  overflow-x: scroll;
}